---
import DeleteIcon from './icons/trash.astro'
import EditIcon from './icons/pencil-square.astro'

type Todo = {
  id: string
  text: string
  completed: boolean
}

interface Props {
  todo: Todo
}

const { todo } = Astro.props
---

<li id={todo.id}>
  <form
    class="flex gap-2 items-center"
    hx-patch=`/partials/todos/${todo.id}`
    hx-target=`#${todo.id}`
    hx-trigger="change"
  >
    <input
      type="checkbox"
      checked={todo.completed}
      name="completed"
    />
    {todo.text}
    <EditIcon
      hx-get=`/partials/todos/${todo.id}/edit`
      hx-target=`#${todo.id}`
    />
    <DeleteIcon
      hx-delete=`/partials/todos/${todo.id}`
      hx-target="body"
    />
  </form>
</li>